.profile__avatar-edit {
  box-sizing: border-box;
  width: 120px;
  height: 120px;
  background: url(../../../images/button-avatar.svg) no-repeat;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: .2s ease-in;
  opacity: 0;
  border-radius: 47%;
}

.profile__avatar-edit:hover {
  opacity: 1;
}



