.header__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  text-decoration: none;
}

.header__link:hover {
  opacity: 0.6;
  transition: .2s ease-in;
}

@media screen and (max-width: 500px) {
  .header__link {
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
  }
}
