.popup__tooltip-image {
  height: 120px;
  width: 120px;
  margin: 60px auto 32px;
  object-fit: cover;
}

@media screen and (max-width: 500px) {
  .popup__tooltip-image {
    margin: 50px auto 40px;
  }
}
